Oracle

<div class="card-container">
  <div class="row">
    <ng-container *ngFor="let oracle of oracles">
      <div class="col-6">
        <button class="card card-small p-1 m-1" tabindex="0" matTooltip="{{oracle.description.split('.')[0]}}"
          (click)="openDialog(oracle)">
          <mat-icon class="m-1">{{oracle.icon}}</mat-icon>
          <span>{{oracle.name}}</span>
        </button>
      </div>
    </ng-container>
    <!-- <div class="col-12">
      <button class="card card-small" tabindex="0" matTooltip="Generate a random NPC"
        (click)="openDialogNPC()">
        <mat-icon>accessibility_new</mat-icon>
        <span>NPC</span>
      </button>
    </div> -->
  </div>
</div>