<div class="oracle-dialog">
    <h1 mat-dialog-title>Oracle for '{{dialogTitle}}'</h1>
    <div mat-dialog-content>
        {{dialogText}}
    </div>
    <div class="row">

        <mat-form-field appearance="fill">
            <mat-label>Difficult</mat-label>
            <mat-select [(ngModel)]="difficultSelected" name="difficult" (selectionChange)="onDifficultChange()">
                <mat-option *ngFor="let difficult of difficults" [value]="difficult.name">
                    {{difficult.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <div class="result p-4" *ngIf="dialogResult !== undefined">
            <p [ngClass]="{'fail-result' : result <= 7, 'ok-result' : result > 7 && result <= 15, 'success-result' : result > 15}">
                {{dialogResult}}
            </p>
        </div>
    </div>

    <button mat-button class="roll-button" (click)="roll()">Roll my future</button>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial (click)="save()"
            [disabled]="dialogResult === undefined">Accept my fate</button>
    </div>
</div>