<div class="character-dialog">
    <h1 mat-dialog-title>Edit character</h1>
    <div mat-dialog-content>
        Here you can change or create a new character for you.
    </div>
    <div class="row">
        <form [formGroup]="editCharacter">
            <div class="col-12">
                <mat-form-field class="name">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Adam Scroll"
                    formControlName="name">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="fill" class="background">
                    <mat-label>Background</mat-label>
                    <textarea matInput rows="3" 
                        maxlength="256" placeholder="Ex. She started her career with..."
                        formControlName="background"></textarea>
                    <mat-hint align="end">{{editableCharacter?.background?.length}} / 256</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Profession</mat-label>
                    <mat-select formControlName="professionName" name="profession" (selectionChange)="onProfessionChange()">
                        <mat-option *ngFor="let profession of professions" [value]="profession.name">
                            {{profession.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="row">
                    <div class="col-4 text-center" style="position: relative;" matTooltip="{{professionSelected?.status?.physical}}/5">
                        <span>Physical</span><br>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.physical! >= 1}" class="icon">sports_martial_arts</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.physical! >= 2}" class="icon">sports_martial_arts</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.physical! >= 3}" class="icon">sports_martial_arts</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.physical! >= 4}" class="icon">sports_martial_arts</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.physical! >= 5}" class="icon">sports_martial_arts</mat-icon>
                    </div>
                    <div class="col-4 text-center" style="position: relative;" matTooltip="{{professionSelected?.status?.intellectual}}/5">
                        <span>Intellectual</span><br>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.intellectual! >= 1}" class="icon">lightbulb</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.intellectual! >= 2}" class="icon">lightbulb</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.intellectual! >= 3}" class="icon">lightbulb</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.intellectual! >= 4}" class="icon">lightbulb</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.intellectual! >= 5}" class="icon">lightbulb</mat-icon>
                    </div>
                    <div class="col-4 text-center" matTooltip="{{professionSelected?.status?.social}}/5">
                        <span>Social</span><br>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.social! >= 1}" class="icon">gavel</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.social! >= 2}" class="icon">gavel</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.social! >= 3}" class="icon">gavel</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.social! >= 4}" class="icon">gavel</mat-icon>
                        <mat-icon [ngClass]="{'active-icon' : professionSelected?.status?.social! >= 5}" class="icon">gavel</mat-icon>
                    </div>
                </div>
            </div> 
        </form>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="deleteCharacter()">Delete</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial (click)="save()">Save changes</button>
    </div>
</div>