<div class="oracle-dialog">
    <h1 mat-dialog-title>Oracle for NPCs</h1>
    <div mat-dialog-content>
        Generate a random npc with a small background
    </div>
    <div class="row">

        <mat-form-field appearance="fill">
            <mat-label>Generer</mat-label>
            <mat-select [(ngModel)]="genererSelected" name="generer">
                <mat-option *ngFor="let generer of geners" [value]="generer">
                    {{generer}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <div class="result p-4" *ngIf="dialogResult !== undefined">
            {{dialogResult}}
        </div>
    </div>

    <button mat-button class="roll-button" (click)="roll()">Roll my future</button>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
        <button mat-button mat-dialog-close cdkFocusInitial (click)="save()"
            [disabled]="dialogResult === undefined">Accept my fate</button>
    </div>
</div>