<p>
  <mat-toolbar>
    <img src="../favicon.ico" alt="logo" width="30" class="p-1">
    <span>Solo RPG</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="icon favorite-icon">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button class="icon">
      <mat-icon>upload</mat-icon>
    </button>
    <button mat-icon-button class="icon" (click)="openCharacterDialog()">
      <mat-icon>accessibility_new</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="container">
  <div class="row">
    <div class="col-9">
      <app-journal [journal]="character.journal" (journalEvent)="editJournal($event)"></app-journal>
    </div>
    <div class="col">
      <app-oracle (items)="addItem($event)"></app-oracle>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
    <app-character [character]="character" (healthEvent)="addHealth($event)" (sanityEvent)="addSanity($event)"></app-character>
    </div>
    <div class="col">
      <app-notebook [notebook]="character.notebook" (notebookEvent)="editNotebook($event)"></app-notebook>
    </div>
    <div class="col-3">
      <app-inventory [itemList]="character.inventory" (removeItem)="removeItem($event)"></app-inventory>
    </div>
  </div>
  <div class="row">
    <app-logs [logs]="character.logs"></app-logs>
  </div>
</div>
