.mat-icon {
    overflow: visible !important;
}

.character-name {
    font-size: 3em;
    text-align: center;
    padding-bottom: .5em;
}

.character-occupational {
    text-align: center;
    padding-left: 10em;
}

.character-infos {
    padding: 2em;
}

.character-background {
    text-align: justify;
}

.icon svg {
    fill: gray;
}

.icon {
    color: gray;
}

.active-icon svg {
    fill: green;
}

.active-icon {
    color: green;
}

.row {
    padding-top: .5em;
}

.status-info {
    position: relative; 
    cursor: pointer;
}

